.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    min-height: 90vh;
}

.jobs{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.companies{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-grow: 1;
    color: blue;
}

.mycard{
    width: 45%;
    margin: 4px;
}

.search{
    display: flex;
}
.homeText{
    padding: 50px;
    color: white;
    position: absolute;
}

.homeImage{
    height: 93vh;
    width: 100vw;
}